@import "filterBar";
@import "map";
@import "overview";

html, body {
  height: 100%;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
  background-color: #fafafa;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & > * {
    margin: 0 {
      right: 1rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.stretch {
    align-items: stretch;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

#content, .left-column, .right-column {
  height: 100%;
}

#content {
  display: flex;
  flex-flow: row nowrap;
}

$leftColumnViewportRatio: 60%;

.left-column {
  width: $leftColumnViewportRatio;
}

.right-column {
  width: 100% - $leftColumnViewportRatio;
}

.app-section {
  height: 90%;
}

.toolbar {
  background-color: $filterBarBackground;
  color: white;
  font-family: sans-serif;
  padding: 1rem;
}

.faqs {
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    background-color: #63696D;
    font-family: sans-serif;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.footer {
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    background-color: #fafafa;
    font-family: sans-serif;
    color: #333333;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.footer-left {
    text-align: left !important;
}

#footer-wrapper {
    position:absolute;
    bottom:0;
    width:100%;
}
