$filterBarBackground: #9e9e9e;

#filterBar {
  padding: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fb8c00;
  border: 1px solid #f57c00;

  & ul {
    list-style-type: none;
    padding: 0;
  }

  & > h1 {
    margin: 1rem;
    flex: 0 0 auto;
  }

  & > .row {
    justify-content: space-between;
    flex: 1 0 auto;
  }
}

.lightcolor {
  background-color: #9e9e9e;
  border: 1px solid #757575;
}

.dropdown-list > * {
  margin-right: 0 !important;
}

.dropdown {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;
  padding: 10px;//0 1rem;
  color: white;

  transition: 0.25s background-color;

  &:hover {
    background-color: #616161;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 1rem;
  background-color: $filterBarBackground;
  z-index: 9999;
  border: 1px solid #616161;

  &.show {
    display: block;
  }
}

#faqs {
  color: white;
}
